<service-group>
    <name replace-wildcards="yes">%h HTTP</name>
    <service>
        <type>_http._tcp</type>
        <port>8080</port>
    </service>
</service-group>
